.places {
  display: flex;
  flex-direction: column;
  max-width: calc(100% - 23.125vw);
  margin: auto;
  padding-top: 12px;
}

@media (max-width: 1024px) {
  .places {
    max-width: calc(100% - 9.375vw);
  }
}

@media (max-width: 768px) {
  .places {
    max-width: calc(100% - 7.7vw);
    padding-top: 15px;
  }
}

@media (max-width: 425px) {
  .places {
    width: 100%;
    margin: 0;
    padding-top: 14px;
  }
}
