.footer__copyright {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.1;
  text-align: right;
  margin: 0;
}

@media screen and (min-width: 1281px) {
  .footer__copyright {
    font-size: 1.1vw;
  }
}

@media (max-width: 768px) {
  .footer__copyright {
    font-size: 1.82vw;
  }
}

@media (max-width: 425px) {
  .footer__copyright {
    line-height: 1;
    text-align: left;
  }
}
