.intro__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.625;
  padding-bottom: 33px;
  margin: 0;
  grid-column: 2/5;
  max-width: 690px;
}

@media screen and (min-width: 1281px) {
  .intro__text {
    font-size: 1.25vw;
    min-width: 53.8vw;
  }
}

@media (max-width: 1024px) {
  .intro__text {
    grid-column: 2/3;
  }
}

@media (max-width: 768px) {
  .intro__text {
    grid-column: 2;
    width: calc(100% - 48px);
  }
}

@media (max-width: 425px) {
  .intro__text {
    width: calc(100vw - 32px);
  }
}