.cover {
  margin: auto;
  padding-top: 92px;
  position: relative;
}

@media (min-width: 1281px) {
  .cover {
    padding-top: 7.18vw;
  }
}

@media (max-width: 768px) {
  .cover {
    padding-top: 90px;
  }
}

@media (max-width: 425px) {
  .cover {
    padding-top: 66px;
  }
}