.place__link{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.2;
  text-decoration-line: underline;
  color: #FFFFFF;
  display: inline-block;
  margin: 0;
  padding-top: 12px;
  opacity: 1;
  transition: opacity 0.3s linear;
}

.place__link:hover{
  opacity: 0.8;
}

@media screen and (min-width: 1281px) {
  .place__link{
    font-size: 1.4vw;
    padding-top: 0.9vw;
  }
}