.place{
  display: grid;
  grid-template-columns: fit-content(460px) 1fr;
grid-template-rows: min-content fit-content(460px) ;
gap: 48px 40px;
padding-top: 80px;
}

.place__image{
  max-width: 100%;
  grid-column: 1;
  grid-row: 2;
}

.place__title{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 1.05;
  grid-column: 1;
  grid-row: 1;
  align-self: end;
  margin: 0;
}

.place__website{
  grid-column: 2;
  grid-row: 1;
  align-self: end;
}

.place__paragraphs{
  grid-column: 2;
  grid-row: 2;
  
}

.place__paragraph{
margin: 0;
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 1.63;
padding-bottom: 26px;
}

.place__url-heading{
  font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 1;
letter-spacing: 2px;
color: #AAAAAA;
margin: 0;
}

.place__link{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.2;
  text-decoration-line: underline;
  color: #FFFFFF;
  display: inline-block;
  margin: 0;
  padding-top: 12px;
}